.parameter-list.scrollable {
    height: auto;
    max-height: 15em;
    overflow-x: hidden;
}

.main-row {
    margin: 1em;
}

.card-img {
    margin: 1em;
}

.card-body {
    margin: 1em;
}

.form-group {
    margin: 0.5em;
}

.btn.btn-outline-dark.right {
    margin-left: 6em;
}

.row.align-items-center {
    margin-top: 0.5em;
}

.btn.btn-link {
    color: #484747;
}

.form-control {
    color: black !important;
}